# ignore the MAC files
.DS_Store

# ignore the ECLIPSE project file
.project
.pydevproject

# ignore compilation products
*.mod
*.o
*.a
*.pyc

# ignore the link to the planck data library
data/clik

# ignore executables:
cosmomc
cosmomc_debug
eftcosmomc
eftcosmomc_debug
getdist

# ignore cluster scripts:
*.sbatch
*.err
*.out


# python:
*.py[cod]
*$py.class
__pycache__/
.idea/
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
